# 工作流名称
name: 安飞之家管理端 CI/CD
# 工作流运行时显示名称
run-name: guanshi_pipeline_${{ github.event.inputs.version }}_${{ github.event.inputs.branch }}_${{ github.event.inputs.run_name }}
# 怎样触发工作流
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version:
        description: "版本信息"
        required: true
        # default: "0.1.0"
      run_name:
        description: "运行名--用于关联执行编码pipeline_id"
        required: true
      branch:
        description: "gitlab上的分支名称"
        required: true
        # default: "dev"
      port:
        description: "发布服务器的端口"
        required: true
      server:
        description: "发布服务器格式如：user@xxx.com"
        required: true
      path:
        description: "发布到服务器的绝对路径 格式如：/root/xxx/xxx_web"
        required: true

        
# 工作流程任务（通常含有一个或多个步骤）
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout private GitLab repository
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git clone -b ${{ inputs.branch }} --single-branch --depth 1 https://oauth2:${GITLAB_TOKEN}@git.wsc.tech/AFZJ/rust-red-web.git rust-red-web
          cd rust-red-web
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22' # Or your desired Node.js version
      - name: Install Dependencies
        working-directory: ./rust-red-web # Specify the working directory
        run: yarn install
      - name: Build Project
        working-directory: ./rust-red-web # Specify the working directory
        run: yarn build
      - uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: rust-red-web/dist # Correct path to the build directory

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: ./

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ github.event.inputs.branch == 'dev' && secrets.DEV_SSH_PRIVATE_KEY || github.event.inputs.branch == 'master' && secrets.PROD_SSH_PRIVATE_KEY || secrets.DEV_SSH_PRIVATE_KEY }}
      - name: Deploy to Server
        run: |
          scp -o StrictHostKeyChecking=no -P ${{ github.event.inputs.port }} -r ./ ${{ github.event.inputs.server }}:${{ github.event.inputs.path }}/uploading
          ssh -o StrictHostKeyChecking=no ubuntu@wsc.tech -p ${{ github.event.inputs.port }} << EOF
            rm -rf ${{ github.event.inputs.path }}/current
            mv ${{ github.event.inputs.path }}/uploading ${{ github.event.inputs.path }}/current
            TIMESTAMP=$(date +%Y%m%d%H%M%S)
            tar -czvf ${{ github.event.inputs.path }}/${{ inputs.branch }}_${{ inputs.version }}_$TIMESTAMP.tar.gz ${{ github.event.inputs.path }}/current
            docker restart nginx
            echo "Deployment completed."
          EOF
