name: 勘正智慧水务_ApiServer
run-name: 勘正智慧水务_ApiServer_pipeline_${{ github.event.inputs.version }}_${{ github.event.inputs.branch }}_${{ github.event.inputs.run_name }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: "版本信息"
        required: true
        # default: "0.1.0"
      run_name:
        description: "运行名--用于关联执行编码pipeline_id"
        required: true
      branch:
        description: "gitlab上的分支名称"
        required: true
        # default: "dev"
      port:
        description: "发布服务器的端口"
        required: true
      server:
        description: "发布服务器格式如：user@xxx.com"
        required: true
      path:
        description: "发布到服务器的绝对路径 格式如：/root/xxx/xxx_web"
        required: true
      host_url:
        description: "替换配置文件中的host_url"
        required: true
      git:
        description: "git地址"
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout private GitLab repository
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          git clone -b ${{ inputs.branch }} --single-branch --depth 1 https://oauth2:${GITLAB_TOKEN}@${{ inputs.git }} apiserver
          cd apiserver
          rm -f .yarnrc
      - name: Login to Aliyun Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.DOCKERUSERNAME }}
          password: ${{ secrets.DOCKERPASSWORD }}
          logout: false
      - name: build image
        uses: docker/build-push-action@v6
        with:
          context: ./apiserver
          file: apiserver/Dockerfile
          platforms: linux/amd64
          push: true
          tags: registry.cn-hangzhou.aliyuncs.com/gskj/kzpipe-server:${{ inputs.version }}
          labels: apiserver
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ github.event.inputs.branch == 'dev' && secrets.KZDEV_SSH_PRIVATE_KEY || github.event.inputs.branch == 'master' && secrets.KZPROD_SSH_PRIVATE_KEY || secrets.DEV_SSH_PRIVATE_KEY }}
      - name: Run commands on remote server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ github.event.inputs.server }} -p ${{ github.event.inputs.port }} << 'EOF'
            docker pull registry.cn-hangzhou.aliyuncs.com/gskj/kzpipe-server:${{ inputs.version }}
            docker stop kzpipe-v3-server || true
            docker rm kzpipe-v3-server || true            
            docker run --name kzpipe-v3-server -i -t -d \
                -p 7017:7016 \
                -v /etc/localtime:/etc/localtime:ro \
                -v /home/kz_v3/upload:/app/build/upload \
                -v /home/kz_v3/log:/app/build/log \
                -v /home/kz_v3/config.json:/app/build/config.json \
                -e TZ=Asia/Shanghai registry.cn-hangzhou.aliyuncs.com/gskj/kzpipe-server:${{ inputs.version }}
            docker images -a | grep kzpipe-v3-server:${{ inputs.version }} | awk '{print $3}' | xargs -r docker rmi || true
          EOF
