name: Build and Push Rust-Red [main]
permissions:
  contents: read
  packages: write
on:
  workflow_dispatch:
  push:
    paths:
      - Dockerfile.separated
      - .github/workflows/rust-red-main.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # 把rust-red主项目拉取下来
      - name: Checkout private GitLab repository
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          # 1. 重要：配置 Git 自动为 git.wsc.tech 的请求添加 Token，解决子模块克隆失败问题
          # 2. 执行递归克隆
        run: |
          git config --global url."https://oauth2:${GITLAB_TOKEN}@git.wsc.tech/".insteadOf "https://git.wsc.tech/"
          git clone --recursive -b dev-shared-ptr --single-branch --depth 1 https://git.wsc.tech/base/rust-red-group/rust-red.git rust-red
          git clone --recursive -b master --single-branch --depth 1 https://git.wsc.tech/base/rust-red-group/rust-red-plugins.git rust-red-plugins
      # 注意：actions/checkout@v4 已经把本仓库（gs-build-deploy）拉取到了当前目录
      # 因此不需要再次 clone 本仓库。

      - name: build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.separated
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/wsc-studio/rust-red-main-base:latest
            ghcr.io/wsc-studio/rust-red-main-base:${{ github.sha }}
          labels: rust-red-main-base

  
